
<form novalidate="" class="col-xs-10">
    <h2>Movie Editor</h2>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" ng-model="movie.title" />
    </div>

    <div class="form-group">
        <label for="criticsConsensus">Critics Consensus</label>
        <textarea class="form-control" id="criticsConsensus" ng-model="movie.criticsConsensus" rows="5" ></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>

</form>